<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layouts</title>

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Header</h1>
            <h2>Subtitle</h2>
        </header>

        <nav class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Something more...</a></li>
                <li><a href="#">Something even more...</a></li>
            </ul>
        </nav>

        <div class="main">
            <div class="column">
                <h4>Coffee Ipsum</h4>
                <p>Plunger pot milk est, variety, aroma, extra robusta black half and half sweet. Pumpkin spice chicory turkish,
                    café au lait spoon con panna skinny americano.</p>
            </div>
            <div class="column">
                <h4>Lorem Ipsum</h4>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                    literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                    College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
                    and going through the cites of the word in classical literature, discovered the undoubtable source.
                </p>
            </div>
            <div class="column">
                <h4>Batman Ipsum</h4>
                <p>You wanna know how I got them? So I had a wife. She was beautiful, like you, who tells me I worry too much,
                    who tells me I ought to smile more, who gambles and gets in deep with the sharks. Hey. One day they carve
                    her face. And we have no money for surgeries. She can't take it. I just wanna see her smile again. I
                    just want her to know that I don't care about the scars. So, I do this to myself. And you know what?
                    She can't stand the sight of me. She leaves. Now I see the funny side. Now I'm always smiling.</p>
            </div>
            <div class="column">
                <h4>Minion Ipsum</h4>
                <p>Minions ipsum para tú gelatooo para tú jeje la bodaaa underweaaar bappleees tank yuuu! Uuuhhh belloo! Aaaaaah
                    potatoooo ti aamoo! Wiiiii po kass butt la bodaaa chasy bappleees baboiii potatoooo. Ti aamoo! pepete
                    baboiii underweaaar para tú daa. Potatoooo para tú para tú bappleees bee do bee do bee do poopayee. Chasy
                    ti aamoo! Baboiii poopayee pepete butt pepete gelatooo bananaaaa. Underweaaar gelatooo gelatooo belloo!
                    Chasy chasy baboiii daa chasy me want bananaaa! Hana dul sae. Tank yuuu! gelatooo jeje daa bananaaaa
                    bananaaaa jeje pepete baboiii bee do bee do bee do hana dul sae.</p>
            </div>
        </div>
    </div>

</body>

</html>