html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  width: 96%;
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}
header {
  background-color: lightgrey;
  padding: 1em;
}
header h1,
header h2 {
  margin: 0 0 0.5em 0;
}

nav.navigation ul {
  margin: 0.5em 0;
  padding: 0;
}
nav.navigation li {
  display: inline-block;
  margin-right: 0.25rem;
  background-color: lightgrey;
  border: 1px solid gray;
}
nav a:link,
nav a:visited {
  display: block;
  padding: 0.5em;
}

div.main {
  display: flex;
  flex-wrap: wrap;
}

div.column {
  flex: 1;
  padding: 0 0.5em;
}

@media screen and (max-width: 960px) {
  nav.navigation {
    display: none;
  }

  div.column {
    min-width: 33.33%;
  }
}
